In [1]:
# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
# file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:
    file.write(test1)
    file.close()

In [6]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
# and test 2?

In [9]:
with open('test.txt', 'r') as file:
    test2 = file.read()
    print(test2)
    file.close()

This is a test of the emergency text system

In [8]:
# 3. Create a CSV file called books.csv by using these lines:

In [66]:
import csv
csv_data = ['title,author,year', 'The Weirdstone of Brisingamen,Alan Garner,1960', 'Perdido Street Station,China,2000', 'Thud!,Terry Pratchett,2005', 'The Spellman Files,Lisa Lutz,2007', 'Small Gods,Terry Pratchett,1992']

with open('books.csv', 'w') as file:
    write = csv.writer(file)
    for line in csv_data:
        write.writerow(line.split(','))

In [2]:
import pandas as pd
df = pd.read_csv("books.csv", sep=',')
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station            China  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [3]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
# these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')

conn.execute('create table books (title VARCHAR, author VARCHAR, year INT)')

OperationalError: table books already exists

In [ ]:
# 5. Read books.csv and insert its data into the book table.

In [5]:
conn.execute("insert into books values('test', 'rushikesh', 2020)")
conn.execute("insert into books values('one', 'rushikesh', 2020)")
conn.execute("insert into books values('two', 'rushikesh', 2020)")
conn.execute("insert into books values('three', 'rushikesh', 2020)")
conn.execute("insert into books values('four', 'rushikesh', 2020)")
conn.execute("insert into books values('five', 'rushikesh', 2020)")

In [6]:
# 6. Select and print the title column from the book table in alphabetical order.

In [7]:
for i in conn.execute("select title from books order by title"):
    print(i)

('five',)
('four',)
('one',)
('test',)
('three',)
('two',)

In [8]:
# 7. From the book table, select and print all columns in the order of publication.

In [10]:
for i in conn.execute("select * from books"):
    print(i)

('test', 'rushikesh', 2020)
('one', 'rushikesh', 2020)
('two', 'rushikesh', 2020)
('three', 'rushikesh', 2020)
('four', 'rushikesh', 2020)
('five', 'rushikesh', 2020)

In [12]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
# exercise 6.

In [15]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db', echo = True)

In [ ]:
engine = create_engine("mysql://root:mysql@localhost/books",echo = True)

In [20]:
# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
# Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
# test.

In [19]:
pip install redis

Collecting redis
  Downloading redis-4.3.1-py3-none-any.whl (241 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\apas\anaconda3\lib\site-packages (from redis) (21.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\apas\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\apas\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis

r_conn = redis.Redis( host='localhost', port=8000)
r_conn.set('name', 'Fester Bestertester')

In [23]:
# 10. Increment the count field of test and print it.

In [ ]:
value = r_conn.get('name')
print("Value from Redis -->", value)