In [1]:
# Question1
# Write a function that takes a list and a number as arguments. Add the number to the end of
# the list, then remove the first element of the list. The function should then return the updated
# list.

In [7]:
def next_in_line(array, element):
    array.remove(array[0])
    array.append(element)
    return array
    
    
print(next_in_line([5, 6, 7, 8, 9], 1))

[6, 7, 8, 9, 1]

In [8]:
# Question2
# Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

In [12]:
def get_budgets(collection):
    total=0
    for value in collection:
        total += value["budget"]
    return total
    
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "John", "age": 21, "budget": 40000 },
{ "name": "John", "age": 21, "budget": 2700 },
])

65700

In [13]:
# Question3
# Create a function that takes a string and returns a string with its letters in alphabetical order.

In [14]:
def alphabet_soup(string):
    return string[::-1]
    
alphabet_soup("hello")

'olleh'

In [15]:
# Question4
# Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
# What will be the value of your investment at the end of the 10 year period?
# Create a function that accepts the principal p, the term in years t, the interest rate r, and the
# number of compounding periods per year n. The function returns the value at the end of term
# rounded to the nearest cent.
# For the example above:
# compound_interest(10000, 10, 0.06, 12) âžž 18193.97
# Note that the interest rate is given as a decimal and n=12 because with monthly compounding
# there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
# daily.

In [17]:
def compound_interest(p, n, r, t):
    return p*(1+r/n)**(n*t)

compound_interest(100, 1, 0.05, 1)

105.0

In [18]:
# Question5
# Write a function that takes a list of elements and returns only the integers.

In [19]:
def return_only_integer(array):
    result = []
    for i in array:
        if type(i)==int:
            result.append(i)
    return result

return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]